PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/c2c_db

JWT_ACCESS_SECRET=your_access_token_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_REFRESH_EXPIRES_IN=7d

DEFAULT_OTP=12345
